* {
    box-sizing: border-box;
    margin: 0;
}
header {
    background-color: rgb(60, 73, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    border-radius: 35px;
    padding: 0% 2% 0% 0%;
    position: sticky;
    top:0;
    left:0;
}

.logo-img {
    display: flex;
    align-items: center; 
}

.logo-imagem {
    max-width: 70px;
    max-height: 70px;
    align-items: center;
}

.logo-texto {
    text-align: center;
    text-decoration: none;
    margin: 0px;
}

.menu ul a {
    display: flex;
    text-decoration: none;
    color: rgb(247, 255, 228);
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5%;
    padding-right: 5%;
    flex-wrap: nowrap;
}

.menu:hover{
    color: #d4ff70;
}

body {
    background-color: rgb(238, 250, 210);
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 1%;
}
.titulo {
    color: rgb(238, 250, 210);
    font-size: 30px;
    text-align: center;
    justify-content:center;
    text-decoration: none;
    padding-left: 10%;
}
.sub-titulo {
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}
.texto-paragrafo-h4 {
    font-size: 25px;
    text-align: left;
    text-decoration: none;
    padding-bottom: 1%;
    padding-left: 0;
}
.texto-paragrafo-li {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    padding-bottom: 1%;
    width: fit-content;
}
.texto-paragrafo-p {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    padding-bottom: 1%;
}
.texto-h4-css {
    font-size: 25px;
    text-decoration: none;
    text-align: justify;
    padding-bottom: 1%;
}
.elementos-css li {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    padding-bottom: 1%;
}
.section-box-img{        
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
}
.box-img {
    display: flex;        
    align-items: center;
    justify-content: center;
    width: 350px;
}
@media (max-width:1280px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 20px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 100px;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 30px;
        text-align: center;
        justify-content:center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 700px;
    }
}


@media (max-width:1170px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 600px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 18px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 100px;
    }
}

@media (max-width:1050px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 550px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 15px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 70px;
    }
}

@media (max-width:950px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 390px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 12px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 60px;
    }
}

@media (max-width:740px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 350px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 12px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 60px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
}

@media (max-width:645px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 295px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 50px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
    
}

@media (max-width:560px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 240px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 50px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
    .sub-titulo {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    .texto-paragrafo-h4 {
        font-size: 18px;
        text-align: left;
        text-decoration: none;
    }
    .texto-paragrafo-li {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }
    .texto-paragrafo-p {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
    }
}

@media (max-width:495px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 172px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 50px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
    .sub-titulo {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    .texto-paragrafo-h4 {
        font-size: 18px;
        text-align: left;
        text-decoration: none;
    }
    .texto-paragrafo-li {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }
    .texto-paragrafo-p {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
    }
    .section-box-img{        
        display: flex;
        align-items: center;
        justify-content: center;
        width:fit-content;
    }
    .box-img {
        display: flex;        
        align-items: center;
        justify-content: center;
        width: 280px;
    }
}

@media (max-width:405px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        max-width: 95%;
        padding-left: 10%;
        width: 150px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 10px;
        padding-bottom: 5%;
        padding-right: 10%;
        flex-wrap: nowrap;
        width: 47px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
    .sub-titulo {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    .texto-paragrafo-h4 {
        font-size: 18px;
        text-align: left;
        text-decoration: none;
    }
    .texto-paragrafo-li {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }
    .texto-paragrafo-p {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
    }
    .box-img {
        display: flex;
        width:255px;
    }
}

@media (max-width:374px){
    header {
        background-color: rgb(60, 73, 30);
        display: flex;
        font-size: 10%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 35px;
        padding: 0% 2% 0% 0%;
        margin-right: 0%;
        width: 240px;
    }
    .titulo {
        color: rgb(238, 250, 210);
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        padding-left: 10%;
        width: 115px;
    }
    .menu ul a {
        display: flex;
        text-decoration: none;
        color: rgb(247, 255, 228);
        justify-content: center;
        text-align: center;
        font-size: 8px;
        padding-bottom: 5%;
        padding-right: 5%;
        flex-wrap: nowrap;
        width: 45px;
    }
    .logo-img {
        display: flex;
        align-items: center; 
    }
    
    .logo-imagem {
        max-width: 40px;
        max-height: 40px;
        align-items: center;
    }
    .sub-titulo {
        font-size: 20px;
        text-align: center;
        text-decoration: none;
    }
    .texto-paragrafo-h4 {
        font-size: 18px;
        text-align: left;
        text-decoration: none;
    }
    .texto-paragrafo-li {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
        padding: 5px;
    }
    .texto-paragrafo-p {
        font-size: 12px;
        text-align: justify;
        text-decoration: none;
    }
    .box-img {
        display: flex;
        width:180px;
    }
}