* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    -ms-text-size-adjust: auto;
}

header {
    background-color: rgb(60, 73, 30);
    display: flex;
    text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap:nowrap;
    border-radius: 35px;
    padding: 0% 2% 0% 0%;
}

.logo-img {
    display: flex;
    align-items: center;   
}

.logo-imagem {
    max-width: 70px;
    max-height: 70px;
    align-items: center;
}

.logo-texto {
    text-align: center;
    text-decoration: none;
    margin: 0px;
}

.menu ul a {
    display: flex;
    text-decoration: none;
    color: rgb(247, 255, 228);
    justify-content: left;
    font-size: 20px;
}

* body {
    background-color: rgb(238, 250, 210);
    padding-top: 1%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 1%;
}

.titulo {
    color: black;
    font-size: 40px;
    text-align: center;
    text-decoration: none;

}

.sub-titulo {
    font-size: 30px;
    text-align: center;
    text-decoration: none;

}

.texto-paragrafo-h4 {
    font-size: 25px;
    text-align: left;
    text-decoration: none;
}

.texto-paragrafo-li {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    padding: 5px;
}

.texto-paragrafo-p {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;

}
.elementos-css {
    background-color: aquamarine;

}
.texto-h4-css {
    font-size: 25px;
    text-decoration: none;
    text-align: justify;
}
@media(max-widht:800px){
    
}